
/**
 * .brand-logo.left must be overridden with a relative position
 * at this point: materialize-css linked to this webpage via
 * public/index.html does not reposition the brand-logo accompanied
 * by the left class.
**/
.brand-logo.left {
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
