@font-face {
  font-family: "Patua One";
  src: url("/fonts/PatuaOne-Regular.ttf");
}

/**
 * html, body and #root should all be flexing vertically
 * to consume at least the entire page.
**/
html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  min-width: 800px;
}

body, #root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

/* white-text does not override specific <li> text color,
 * so we override it here with plain white. */
.dropdown-content li > a {
  color: white;
}

.dropdown-content li.active,
.dropdown-content li.active:hover,
nav ul li.active,
nav ul li.active:hover {
  background-color: rgba(0, 0, 0, 0.225);
}

/* Closest background I could get to the other navbar
 * items; this requires further research: What is the
 * exact background-color used by materialize navbar? */
.dropdown-content li:hover {
  background-color: rgba(0, 0, 0, 0.0015);
}

/**
 * .brand-logo.left must be overridden with a relative position
 * at this point: materialize-css linked to this webpage via
 * public/index.html does not reposition the brand-logo accompanied
 * by the left class.
**/
.brand-logo.left {
  position: relative;
}

.App-logo {
  height: 40vmin;
}

.memberTitle {
  font-size: 10px;
}

.InnerPage {
  padding-top: 20px;
}

.memberCard {
  cursor: pointer;
}

.articleTitle {
  margin-top: 24px;
}

.searchResult {
  cursor: pointer;
}

/* Text classes */
.textCenter {
  text-align: center;
}

.textJustify {
  text-align: justify;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textSmall {
  font-size: 12px;
}

.textMedium {
  font-size: 16px;
}

li.tab > a.active {
 border-bottom: 2px solid white; 
}

.widgets a {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.controlBox {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  z-index: 2;
}

/* Subpage styles */
.sidenavButton {
  cursor: pointer;
  color: #555;
  position: fixed;
  left: 10px;
  top: 0;
}

.controlBox button {
  cursor: pointer;
}

.colorBadge {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.8rem;
}

.statusBox {
  padding: 5px;
}

.statusBox label {
  padding-right: 5px;
}

.ticketReplies {
  background-color: rgba(0, 0, 0, 0.02);
  padding: 25px;
  border-radius: 4px;
}

.ticketReplies .collapsible {
  max-width: 480px;
  margin: 0 auto;
}

.breadcrumbTransparent .breadcrumb {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 2em;
}

.breadcrumbTransparent .breadcrumb:before {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.breadcrumbTransparent .breadcrumb:last-child {
  color: black;
}

.tickets tr:hover {
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.supportLogin {
  max-width: 480px;
  margin: 0 auto;
}

.horizontalGap {
  display: inline-block;
  width: 6px;
}

.error:before {
  content: "Error: ";
}

.error {
  font-size: 12px;
  color: #ff6e6e;
}

.success {
  font-size: 12px;
  color: #6ecc43;
}

.brand-logo {
  font-family: "Patua One";
  font-size: 42px !important;
}

.aligned {
  margin-left: 6px;
  margin-right: 6px;
}

.searchResults {
  margin-top: 0px;
}

/* Override row's margin-bottom */
.row {
  margin-bottom: 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  float: none;
  clear: both;
}

