/**
 * html, body and #root should all be flexing vertically
 * to consume at least the entire page.
**/
html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body, #root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

/* white-text does not override specific <li> text color,
 * so we override it here with plain white. */
.dropdown-content li > a {
  color: white;
}

.dropdown-content li.active,
.dropdown-content li.active:hover,
nav ul li.active,
nav ul li.active:hover {
  background-color: rgba(0, 0, 0, 0.225);
}

/* Closest background I could get to the other navbar
 * items; this requires further research: What is the
 * exact background-color used by materialize navbar? */
.dropdown-content li:hover {
  background-color: rgba(0, 0, 0, 0.0015);
}

/**
 * .brand-logo.left must be overridden with a relative position
 * at this point: materialize-css linked to this webpage via
 * public/index.html does not reposition the brand-logo accompanied
 * by the left class.
**/
.brand-logo.left {
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

